# Binaries for programs and plugins
postDataWebGo
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp
*.swo
srcproto/*
runcmd/*
datastore/data.gb
datareader/datareader

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
