<!DOCTYPE html>
<html>
<head>
    <h1>Data Analysis</h1> 
</head>
<body>
<span id="file-group" class="hidden">
    DataAnalysisSource: <input type="file" name="uploadfile" />
</span>
<form action="/addpost/" method="POST"> 
    <div><textarea name="body" rows="20" cols="80"></textarea></div> 
    <div>
    <input type="submit" value="Analyze" />
    <input type="button" value="Cancel" onclick="history.back()" /></div>
    <input type="hidden" name="CSRFToken" value="{{.}}" />
</form>
</body>
</html>
